#searchcontainer{
    background-image: url("../elib/image/searchbar1.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-color: #7d8886;
    height:105px;
    display: flex;width:100%;
    margin:0px;
    justify-content: center;
    align-items: center;
    top: 0px;
    position: absolute;
    background-position: bottom left;

}
#searchcontainer.night{
    background-color: #3e5557;
}




#maincontent-container{
    margin: 0px;
    padding: 105px 100px 20px 100px;
    top: 0px;
    left:0px;
    position: absolute;
    z-index: -1;

}

body{
    background-color: #d2d2d2;
    background-image: url(../elib/image/background.svg);
    background-repeat: repeat;
    background-position: center;
    background-size: 300px;
    background-attachment: fixed;
    background-blend-mode: soft-light;
}

.well{
    background-color:#dcdcdc;
}

#topnavbar{
    display:none;
    position: fixed;
    top: 0;
    margin-bottom: 0px;
    height: 37px;
}


#night-toggle, #font-size-small, #font-size-large, #span4control, #menutogglebtn, .tglbtn:hover{
    cursor: pointer;
}


.menuHref{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
}

legend{
    border-bottom: 1px solid #333333;
}

.menuHref:hover{
    width:100%;
    background-color: #8D8D8D;
    cursor:pointer;
}

.menuHref:hover a{
    color: #f5f5f5;
    text-decoration: none;
}

body{
    padding-top:0px;
}

.nav-tabs a{
    cursor:pointer;
}

.navbar-inner{
    padding-left: 15px;
    padding-right: 15px;
}

a{
    color:#333333;
}
a:hover{
    color:#333333;
}

@media (max-width: 979px) {
    #maincontent-container{
        padding: 60px 30px 20px 30px;
    }
      #nav-collapse-nav-col1{
          height:auto;
    }
    .container-fluid:first-child{
        padding-left: 20px;
        padding-right: 20px;
    } 
}



body.night{
    background-color: #364443;
    color:#f5f5f5;
    background-blend-mode: overlay;
}
legend.night{
    color:#f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}
.well.night{
    background-color: #404242;
    border:#6d6d6d;
}
.table-hover tbody tr.night:hover > td{
    background-color:transparent;
}

.navbar-inner.night{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));
}

.navbar-inner.night  a{
    text-shadow:none;
}
.breadcrumb.night{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#333333));
}

.nav-tabs.night li.active a{
    color:#333333 !important;
}
.nav-tabs.night li:hover a{
    color:#333333 !important;
}
#maincontent-container a{
    color:#333333;
}
#maincontent-container.night a{
    color:#f5f5f5;
}
#maincontent-container.night span{
    color:#f5f5f5 !important;
}
#maincontent-container.night i{
    color:#f5f5f5;
}

