f.flipbook-viewport{
        /*overflow-y: scroll;*/
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
    position: relative;
    margin:auto;
    width:100%;
    height:100%;
    z-index: 0;
    text-align:center;
}

.flipbook-viewport .flipbook{
        position: absolute !important;
	width:100%;
	height:100%;      
}

.flipbook-viewport .page{
	width:30%;
	height:60%;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}


.slidecontainer {
    position:relative;
    width: 100%;
    text-align: center;
}

.slider {
    position:relative;
      /*-webkit-appearance: none;*/
    width: 75%;
    height: 10px;
    border-radius: 3px;
    background: #f2f2f2;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px; 
    background: #0f161a; 
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

.tabbar {
    height: auto;
    overflow:auto;
}

.tabbarres {   
    height: 600px;
    /*height: auto;*/
    overflow:auto;
    user-select:text;
}

.tabbarres a {
    padding: 8px 8px 8px 8px;
    display: block;
}

.tabbarres a:hover {
    cursor: pointer;
}
.navtab {
    margin-bottom: 0px;
}
.navtab a:hover{
    cursor: pointer;
}

.popup{
  display:none;
  width: 250px;
  background-color: #555;
  color: #fff !important;
  border-radius: 6px;
  padding: 4px 4px;
  position: absolute;
  right:33%;
  
  overflow:auto;
}

div#popupcontainer{
    top:44%;
    max-height:300px;
    overflow-y:scroll;
    overflow-x:hidden;
}

span#popuptxt{
    min-height: 20px;
    max-height: 300px;
}

span#popupnav{
    height: 20px;
    top:40%;
    overflow: hidden;
    z-index: 1;
}

.popup a{
    color: #fff  !important;
    padding: 4px 9px;
    cursor: pointer;
}

.popup hr{
    border-top: 0.2px;
    margin-block-start: 1px;
    margin-block-end: 1px;
}

body{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

#pageinfotxt{
    user-select: text;
    white-space:pre-wrap;  
    /*Sequences of white space are preserved. Lines are only broken at newline characters*/ 
}

.keyword{
    color: #40a3de;
    cursor: pointer;
}

.notespan{
    width: 85%; 
    text-align: left;
    cursor: pointer;
    overflow:auto;
}

.notespan:hover{
    color: #40a3de;
}

#quotebox{
  width:80%;
  height:100px;
  resize:vertical;
}
#quotearea{
    display: flex;
}


#delNote{
    cursor: pointer;
}

.delbookmarkbtn{
    cursor: pointer;
}
#dictTab > .active > a {
    background-color: #ffffff;
}
#infotab > .active > a,
#infotab > .active > a:hover,
#infotab > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #dcdcdc;
  /*border: 1px solid black;*/
  /*border-left: transparent;*/
  height:auto;
  top:0px;
}

#infotab > li > a,
#infotab > li > a:hover,
#infotab > li > a:focus {
  /*border: 1px solid black;*/
  height:auto;
  top: 5px;
/*  border-left: transparent;
  border-radius: 0 4px 4px 0;*/
   
}

.nav{
    margin-bottom:0px;
}
#infobar .well{
    border:1px solid black;
    border-radius:0px;
    padding:0px;

}
#infotab{
/*    float:right;
    position: relative;
    right: -40px;
    top: 20px;
    z-index: 0;*/
}

.tab-pane{
    padding: 10px 10px;
}


.dictFrame{
    display: flex;
}


.pronounce{
    padding: 2px 4px;
}

i, #tabcontrol{
    cursor:pointer;
}

#flipbk-control{
    /*background-color: white;*/
    color:black;
    /*text-align: right;*/
    /*display:none;*/
    /*z-index: 1;*/
    /*width:80%;*/
    /*position:absolute;*/
}



.footnoteBox{
    display: flex;
    position:relative;
}
.tokenRec, .like, .dislike{
    cursor:pointer;
}
.recommendBox, .attribute{
    padding: 2px 4px;
}

.position, .tokenLength{
    display: none;
}
.footnote{
    width:80%;
    padding: 2px 4px;
}
.voting{
    width:16%;
    padding: 2px 4px;
}
.likeNum{
    left:5%;
}
.like, .likeNum, .dislike, .dislikeNum{
    position:absolute;
}
.dislike{
    left:8%;
}
.dislikeNum{
    left:13%;
}
.likeNum, .dislikeNum{
    font-size:13px;
}
.like, .likeNum{
    left:-15px;
}
.nav-tabs > .active > a{
    background-color: transparent;
}
.notevoting{
  display:flex;
}

.searchreturn:hover >tr >td:not(:nth-child(3)){
    background-color:#f7f7f7;
    cursor:pointer;
}

.pageDisplay{
    width:35px;
    height:35px;
}

nav {
  height: 50px;
  text-align: center;
  /*overflow:hidden;*/
  /*white-space: nowrap;*/
/*  z-index: 2147483647;
  zoom: 1;*/
}
nav ul {
    list-style-type:none;
    padding: 0;
    margin: 0 ! important;
    border-width: 1px;
    border-style: solid;
    border-color: #d5d5d5 #d2d2d2 #cdcdcd;
    border-radius: 6px;
    /*display: -moz-inline-box;*/
    /*-moz-box-orient: vertical;*/
    display: inline-block;
    zoom: 1;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); 
    display:inline-flex;
}
nav li {
    float: left;
}
nav li:first-child {
    border-left: 0; 
}
nav li:first-child a {
    border-radius: 6px 0 0 6px; 
}
nav li:last-child a {
    border-radius: 0 6px 6px 0; 
} 
nav a {
    position: relative;
    height: 40px; 
    width: 40px;
    display: block;
    line-height: 50px;
    background-color: #2C2C2C;
    vertical-align: middle;
}
.pageContainer{
    width: 80px !important;
    line-height: 40px;
    overflow: hidden;
}

.select2-dropdown {
    /*min-width: 100%;*/
    width: 100px !important;
    
}

.select2-dropdown ul {
    white-space: nowrap;
    padding:0px !important;
    /*-webkit-overflow-scrolling: touch;*/
}

nav a:hover {
    background-color:grey;
    text-decoration: none;
}

nav i{
  color: white;
  font-size: 25px;
}

#docTab{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#textTab, #textTab:hover{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#docTab, #textTab{
    position: absolute;
    z-index: 1;
    margin: 0px !important;
    border: 0px !important;
    background-color: #aaa;
}
#docTab > li, #docTab > li > a, #textTab > li, #textTab > li > a{
    margin: 0px !important;
    border: 0px !important;
}
.select2{
    width: auto !important;
}

.flip > i{
    position: absolute;
    font-size:50px;
    color:grey;
    top: 50%;
    display:none;
    /*left:50%;*/
    margin-top: -25px !important;
    /*margin-left:-25%  !important;*/
}

.flip{
    position:absolute;
    width: 20% !important;
    height: 100% !important;
/*    text-align:center;*/
}

#right > i{
    right:20px;
}

#left > i{
    left:20px;
}

#tooltipPage {
  visibility: hidden;
  /*visibility:visible;*/
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
/*  left: 50%;
  margin-left: -60px;*/
  opacity: 0;
  transition: opacity 0.3s;
}

#tooltipPage::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#noteFilter, #noteSortselect, #userfilter{
    width: auto;
}

font{
    font-family:TYKai, TYSymbols;
}

u{
    color: red;
}

/*.double{*/
/*    background-size:200% 100%;
}

.double.even {
    background-position: 0% 0%;
}

.double.odd {
    background-position: 100% 0%;
}*/

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  flex: 50%;
  overflow-x:scroll;
}

.flex-item-right {
  flex: 50%;
overflow-x:scroll;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: row;
  }
}

#flexImg{
height:700px;
width:525px;
max-width: none;
}

#docArea, #testArea{
    overflow:hidden;
}

.toggle{
    width: 45px !important;
    height: 20px !important;
}